{
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"overrides": [
		{
			"files": "./**/*.js",
			"options": {
				"parser": "babel"
			}
		},
		{
			"files": "./**/*.svelte",
			"options": {
				"svelteAllowShorthand": false,
				"svelteSortOrder": "options-scripts-styles-markup",
				"plugins": ["prettier-plugin-svelte"]
			}
		},
		{
			"files": "./**/*.json",
			"options": {
				"parser": "json"
			}
		},
		{
			"files": ".prettierrc",
			"options": {
				"parser": "json"
			}
		}
	]
}
